@import "../../../styles.scss";

//Loading Spinner
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

//Preview Container - centering purposes only.
.preview-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

//Preview Card.
.post-preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 7px #727272;
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

//Post Cover Image
.preview-cover {
  position: relative;
  display: flex;
  width: 100%;
  height: 15rem;
  img {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
  }
  //Post Tags
  .category {
    padding: 0.5rem 1.5rem;
    position: absolute;
    bottom: 0;
    background: $accentColor;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
}

.preview-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-overflow: ellipsis;
  .title {
    font-size: 1.5rem;
  }
  .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .read-more-btn {
    margin-left: auto;
    margin-top: auto;
    width: fit-content;
    color: white;
    background: $accentColor;
    text-transform: uppercase;
    font-weight: bold;
  }
}

//Date of Publication
.date {
  position: absolute;
  right: 0;
  margin: 1rem 1rem 0 0;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  display: flex;
  justify-content: flex-end;
  .date-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: $accentColor;
    border-radius: 100%;
    padding-bottom: 5px;
    .day {
      width: 100%;
      font-size: 1.5rem;
    }
    .month {
      width: 100%;
      text-transform: uppercase;
    }
  }
}
