<div class="post-preview col-12 col-lg-3" *ngFor="let post of posts">
  <div class="preview-cover">
    <img src="{{ post.coverImgSrc }}" />
    <div class="category">{{ post.tags[0] }}</div>
  </div>
  <div class="preview-content">
    <h2 class="title">{{ post.title }}</h2>
    <div class="summary">
      <p>
        {{ post.summary }}
      </p>
    </div>
    <div class="date">
      <div class="date-circle">
        <span class="day">
          {{ post.datePublished.getDay() }}
        </span>
        <span class="month">
          <!--Gets month in word format-->
          {{ post.datePublished.toLocaleString("default", { month: "short" }) }}
        </span>
      </div>
    </div>
  </div>
</div>
