<div class="preview-container col-12 col-xl-3" *ngFor="let post of latestPosts">
  <div class="post-preview col-12 col-xl-11">
    <a [routerLink]="['/post', post.id]">
      <div class="preview-cover">
        <div class="date">
          <div class="date-circle">
            <span class="day">
              {{ post.datePublished.getDate() }}
            </span>
            <span class="month">
              <!--Gets month in word format-->
              {{
                post.datePublished.toLocaleString("default", { month: "short" })
              }}
            </span>
          </div>
        </div>
        <img src="{{ post.coverImageSource }}" />
        <div class="category">{{ post.tags[0] | uppercase }}</div>
      </div>
    </a>
    <div class="preview-content">
      <h2 class="title">{{ post.title }}</h2>
      <div class="summary">
        <p>
          {{ post.summary }}
        </p>
      </div>
      <button class="btn read-more-btn" [routerLink]="['/post', post.id]">
        View Post
      </button>
    </div>
  </div>
</div>
