<nav class="navbar navbar-expand-lg navbar-dark flex-column">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Typorighter</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn btn-main" routerLink="/login">Log In</button>
  </div>
  <div class="container-fluid pt-2 pb-2">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <!-- Categories-->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/literature"
            routerLinkActive="active"
            >Literature</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/gaming"
            routerLinkActive="active"
            >Gaming</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/about"
            routerLinkActive="active"
            >About Me</a
          >
        </li>
      </ul>
      <!-- Searchbar -->
      <form class="d-flex ms-auto search">
        <input
          class="me-2"
          type="search"
          placeholder="Search for a post..."
          aria-label="Search"
        />
        <div class="search-btn">
          <a href="#">
            <i class="search-icon fas fa-search"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</nav>
