<div class="container col-12 col-md-8 col-lg-6 col-xl-4 login-container">
  <h4 class="banner-login">Sign In</h4>
  <div class="login-box col-12">
    <form class="login-form form-control">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <div class="login-buttons">
        <button class="btn btn-main btn-login">Log In</button>
        <button class="btn btn-main">Create an Account</button>
      </div>
    </form>
  </div>
</div>
