<div class="container col-12 col-md-8 col-lg-6 col-xl-4 login-container">
  <h4 class="banner-login">Sign In</h4>
  <div class="login-box col-12">
    <!--Registration Form-->
    <form
      class="login-form form-control"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm)"
    >
      <label for="username">Username</label>
      <input type="text" name="username" ngModel required />
      <label for="email">Email Address</label>
      <input type="text" name="email" ngModel required />
      <label for="password">Password</label>
      <input type="password" name="password" ngModel required />
      <label for="passwordConfirm">Confirm Password</label>
      <input type="password" name="passwordConfirm" ngModel required />
      <div class="login-buttons">
        <button class="btn btn-main btn-login">Create Account</button>
        <button class="btn btn-main">I already have an account</button>
      </div>
    </form>
  </div>
</div>
