<div class="container post-full">
  <!-- Banner -->
  <div class="post-banner">
    <div class="post-circle">
      <img
        src="https://m.media-amazon.com/images/G/01/DeveloperBlogs/AmazonBookReview/foro/Steve-Irwin-crocod._CB486324373_.jpg?t=true"
      />
    </div>
    <div class="banner-background">
      <img src="{{ post.coverImageSource }}" />
    </div>
  </div>

  <!-- Post Content -->
  <div class="post-content">
    <h1 class="post-title">{{ post.title }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla
      felis, aliquet sed est vel, fermentum interdum eros. Aliquam erat
      volutpat. Quisque in ligula tristique, accumsan nulla ac, pretium lacus.
      Mauris eget finibus justo. Praesent euismod ante nisl. Etiam interdum nisi
      sed tortor luctus, eget convallis orci iaculis. Duis vehicula volutpat
      arcu at tristique. Etiam rutrum lectus et libero consequat consectetur. Ut
      aliquet tempus mi. Nam porttitor rutrum ligula eget feugiat. Ut sed
      posuere velit.
    </p>
    <p>
      Pellentesque venenatis id magna quis fringilla. Nulla ultrices
      sollicitudin nisi, eget sagittis sapien vehicula et. Curabitur vel sem
      consequat, lobortis arcu at, vulputate lacus. Ut molestie placerat lorem a
      consectetur. Vivamus vitae erat neque. In consequat, ante nec sollicitudin
      consectetur, massa diam elementum turpis, id consequat diam dui at enim.
      Ut vitae imperdiet leo, ut pulvinar neque. Duis condimentum libero augue,
      quis cursus enim sagittis in. Integer pharetra, felis ac cursus
      pellentesque, ex leo volutpat ipsum, id venenatis est velit sed ante.
      Pellentesque et libero dapibus purus porttitor pharetra ac tristique eros.
      Fusce mollis lectus id odio molestie, a faucibus ipsum vehicula. Donec
      commodo dolor dui, ultricies facilisis quam convallis sit amet. Fusce
      tempus luctus sem.
    </p>
    <p>
      Donec eget placerat erat. Maecenas eget orci vitae justo pharetra posuere.
      Cras enim leo, accumsan ut odio nec, blandit efficitur mauris. Curabitur
      leo felis, vestibulum vitae velit sit amet, fermentum faucibus sapien.
      Phasellus nec est non elit gravida semper ut et urna. Vivamus placerat est
      condimentum est placerat, et convallis sem condimentum. Integer pulvinar
      porta tempus.
    </p>
    <p>
      Sed dolor nunc, tempus non lacus ornare, vulputate mattis justo. Nullam
      mattis quis magna ac efficitur. Nam aliquam nec sapien id pulvinar.
      Praesent sapien erat, posuere in ornare mattis, tempus commodo nisl.
      Integer sed lacus egestas, euismod lacus vel, fermentum justo. Etiam
      aliquet, leo eu tincidunt convallis, lacus tellus pharetra ipsum, non
      efficitur velit nibh et leo. Quisque sed sodales ipsum. Ut et lacus sed
      ante elementum lobortis vitae vel odio.
    </p>
    <p>
      Curabitur nulla dui, sodales ut auctor in, rutrum vel metus. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Vestibulum vel ante nunc. In egestas nisl pulvinar, molestie quam
      et, consectetur nisl. Curabitur laoreet, enim non scelerisque bibendum,
      magna quam vehicula erat, vitae mattis lectus mi sit amet neque. Morbi
      semper ornare massa non feugiat. Maecenas placerat suscipit sollicitudin.
      Maecenas ut dolor imperdiet, volutpat dolor cursus, suscipit dolor. Duis
      viverra massa mi, a convallis velit aliquet sed. Nullam eget nulla ac
      velit pretium laoreet. Nunc ac felis sit amet nunc maximus mollis. Nullam
      et pellentesque justo, quis dapibus massa.
    </p>
  </div>
</div>
